<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Dota2Parser/src/main/java/Dota2Parser/Dota2Parser/App.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Dota2Parser.Dota2Parser.App"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;C:\Program Files (x86)\Steam\steamapps\common\dota 2 beta\game\dota\replays\3690751201.dem&quot;&#13;&#10;C:\Users\J\Documents\CS_Senior_Project\GamingSupervisor\GamingSupervisor\Parser"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Dota2Parser"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
